# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignore tout par défaut
*


!.gitignore
!*.py
!requirements.txt
!templates/
!templates/**

!static/
!static/**
!Model/
!tests/
!tests/**

# Ignorer spécifiquement certains fichiers/dossiers
.env
venv/
*.log
__pycache__/

