<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connexion</title>

    <!-- Design CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <!-- Icones -->
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form method="POST" class="sign-in-form">
                    <h2 class="title">Connexion</h2>

                    {% if error %}
                        <p class="error">{{ error }}</p>
                    {% endif %}

                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" name="username" placeholder="Nom d'utilisateur" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" placeholder="Mot de passe" required />
                    </div>
                    <input type="submit" value="Se connecter" class="btn solid" />
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Bienvenue !</h3>
                    <img src="{{ url_for('static', filename='images/img_login.png') }}" class="img_login">
                </div>
            </div>
        </div>
    </div>

</body>
</html>
