<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
          <img src="images/logo_app.png" class="logo_app">
        </div>
        <nav class="menu">
          <a href="#" class="active">Dashboard</a>
          <a href="#">Incubateur A1</a> <!-- Chambre A incubateur 1 -->
          <a href="#">Incubateur A2</a>
          <a href="#">Incubateur B1</a>
          <a href="#">Incubateur B2</a>
          <a href="#">Incubateur C1</a>
          <a href="#">Incubateur C2</a>
          <a href="#">...</a>
          <a href="login.html">
            Deconnexion 
            <i class="fas fa-right-from-bracket" style="color: #273f68;" id="deconnexion"></i>
          </a>
          
        </nav>
      </div>
</body>
</html>
